.copyright {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 14px;
  color: #777;
}

.copy-info {
  text-align: start;
}

.theme-info {
  text-align: end;
}

.site-title-custom {
  font-size: 1.4rem;
  line-height: 1.8;
}

/* Target all code blocks */
.highlight pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}
